@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caveat:wght@400;500&family=Manrope&family=Noto+Sans+TC:wght@400;500&family=Permanent+Marker&family=Urbanist:wght@300&display=swap');
h1 {
    font-family: bebas neue;
}
body {
    background-color: #f0ffff;
  
  }
.canvas{
    width: 300px;
    height: 250px;
    margin: 0px auto;
    text-align: center;
    padding-bottom: 0;
}
.bulb-off{
    width: 250px;
    height: 400px;
    background: url('lightoff.png');
    margin: auto;
}
.bulb-on{
    width: 250px;
    height: 400px;
    background: url('lighton.png');
    margin: auto;
}
.discoball{
    width: 40%;
    height: auto;
    margin:0
}

.disc{
    width: 30%;
    height: auto;
}

.disc2{
    position: relative;
    float: right;
    width: 30%;
    height: auto;
}

@media only screen and (min-width: 1000px ){
    .disc{
        width: 250px;
        top: 50%
    }
    .disc2{
        width: 250px;
        top:50%
    }
}
