@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
body {
    background-color: #607069;
}

nav {
    background-color: #CFF0E1;
    padding: .5em;
    float: right;
  }
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
nav a {
    color: #607069;
    text-decoration: none;
    padding: .5em 1em;
  }

h1 {
    font-family: bebas neue;
}

h2 {
    font-family: anton;
}

h3 {
    font-family: abril fatface;
}

h4 {
    font-family: permanent marker;
}

h5 {
    font-family: shadows into light;
}

h6 {
    font-family: urbanist;
}

p {
    font-family: 'Play', sans-serif;
}
