@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');



nav {
    background-color: #CFF0E1;
    padding: .5em;
  }
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
nav a {
    color: #607069;
    text-decoration: none;
    padding: .5em 1em;
  }

h1 {
    font-family: bebas neue;
}

p {
    font-family: 'Play', sans-serif;
}


@media only screen and (max-width: 1900px ){
body {
  background-color: #a2bdb1;  
}}

@media only screen and (max-width: 600px ){
    body{
        background-color: #607069;
    }
}