body {
    background-color: #607069;
}

nav {
    background-color: #CFF0E1;
    padding: .5em;
    float: right;
  }

h1 {
    font-family: bebas neue;
}

h2 {
    font-family: anton;
}

h3 {
    font-family: abril fatface;
}

h4 {
    font-family: permanent marker;
}

h5 {
    font-family: shadows into light;
}

h6 {
    font-family: urbanist;
}

p {
    font-family: play;
}
