
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Caveat:wght@400;500&family=Manrope&family=Noto+Sans+TC:wght@400;500&family=Permanent+Marker&family=Urbanist:wght@300&display=swap');
h1 {
    font-family: bebas neue;
}
h2{
  font-family: Caveat;
}
p {
    font-family: 'Manrope';
    font-size: 1.2em;
}

header {
 
  display:flex;
  max-width:100%;
  height:100%;
  padding:2rem 4rem;
}

.Bella {
  line-height:45px;
  font-size:6rem;
  margin:0;
  display:inline-block;
  font-size: 6rem;
  font-family: bebas neue;
  margin: 0;
  padding-left: 20px;
}
.Bella a{
  color: black;
  font-family: bebas neue;
}
.Bella a:link{
  text-decoration: none;
}
.Bella a:visited {
  text-decoration: none;
}
.Bella a:hover{
  text-decoration: none;
}
.Bella a:active{
  text-decoration:none;
}

header nav {
  position: relative;
  left: 5rem;
  background-color: #CFF0E1;
  padding: .5em;
  display: flex;
  justify-content: space-evenly;
  width: 100%;

}
header nav a {
  display:inline-block;
  color: #607069;
  text-decoration: none;
  padding: .5em 2em;
  font-family: bebas neue;
  font-size: 1.5em;
}

nav a:hover{
  color: white;
}

footer {
  text-align: center;
  padding: 2em;
  padding-bottom: 0;
}

footer a{
  font-family: bebas neue;
  font-size: 2rem;
  color: black;
}
footer a:link{
  text-decoration: none;
}
footer a:visited {
  color:black
}
footer a:hover{
  color: #607069;
}
footer a:active{
  color: black;
}

/*About*/
.box{
  background: #a2bdb1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  margin: 0;
  padding: 0;
  border-radius: 18px;
}
.disco{
  grid-column-start: 3;
  padding-left: 6rem;
}

/* Contact */
.nametag{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.info{
  grid-column-start: 2;
  margin-left: 1rem;
}
.info a{
  color: black;
}
/* Photography */

.contents{
  display:flex;
  justify-content: center;
}
.contents ul{
  list-style: none;
  font-family: Anton;
  font-size: 2rem;
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.photographyIndex {
  padding-top: 50px;
  display:flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.caption{
  text-align: center;
}

.caption-text {
  position: absolute;
  top: 50%;
  color: white;
}
/* Photography Hover ---------------------------------------------------------------------------- */

.holder {
  position: relative;
}

.holder:hover .overlay {
  opacity: 1;
}

.thumbnail {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #A2BDB1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Expanding image text */
#imgtext {
  position: absolute;
  bottom: 20px;
  left: 75px;
  color: white;
  font-size: 20px;
  font-family: 'bebas neue', sans-serif;
}

/* Closable button inside the image */
.closebtn {
  position: absolute;
  top: 20px;
  right: 105px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

#expandedImg {
  width: 91%;
  height: 91%;
  margin-left: 52px;
}

@media only screen and (min-width: 1000px ){
body {
  background-color: #f0ffff;

}
.Home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: auto;
  margin: 10px;
}

.box p {
  margin-left: 2em;
  grid-column-start: 2;
  align-self: center;
}
.Bella{
  font-size: 6rem;
}
.contents ul a{
  color: #A32015;
}
}

.nav {
  width: 100%;
}

@media only screen and (min-width: 599px)and (max-width:1269px){
  body{
    background-color: #CFF0E1;
  }

  .Bella{
    font-size: 3rem;
    padding: 0;
  }
  header nav{
    background-color: #f0ffff;
  }
  header nav a {
    font-size: 1em;
    padding: .5em;
  }
 .box{
  background-color: #f0ffff;}
  .box p{
    padding-left: 1em;
  }

 .nametag{
  color: #f0ffff;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 3fr;
 }
 .info {
  grid-column-start: 1;
  grid-row-start: 1;
 }
 .info a{
  color: #f0ffff;
 }
 .mountain{
  grid-row-start: 2;
 }
}

@media only screen and (max-width: 600px ){
    body{
        background-color: #607069;
    }
    .Home{
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 8px;
    }
    .Bella{
      font-size: 4rem;
      display: flex-inline;
      margin: 0;
      padding: 0;
    }
    
    header nav {
      position: relative;
      left: 2rem;
      background-color: #CFF0E1;
      padding: .5em;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      width: 100%
    
    }
    header nav a {
      position:relative;
      display:inline-block;
      color: #607069;
      text-decoration: none;
      padding: .5em 1em;
      font-family: bebas neue;
      font-size: 1.5em;
    }
    .box{
      display: grid;
      grid-template-rows: 1fr 1fr;
    }

    .box p{
      grid-column-start: 1;
      grid-row-start: 2;
      align-self: center;
      padding-left: 2em;
    }
    .info {
      grid-column-start: 1;
      grid-row-start: 1;
     }
     .info a{
      color: black;
     }
     .mountain{
      grid-row-start: 2;
     }
     .contents ul a{
      color: black;
      text-decoration: none;
    }
}
